
.character-card{
  max-width:300px;
  background-color:rgba(#000,.7);
  text-align:center;

  .character-name {
    font-family: 'Niconne','Cinzel',serif;
    font-size:48px;
    font-weight:800;
    color:#fff;
  }

  .character-slug {
    color:#fff;
  }
}