// Entire Stat Sheet
.stat-sheet{
  background-color:rgba(#fff,0.8);
  border-radius:4px;
  padding: 1rem;

  // Experience Points Label
  .xp{
    &:before{
      content:"XP: ";
      font-weight:800;
    }
  }
  
  //  Effor Points Label
  .effort{
    &:before{
      content:"Effort: ";
      font-weight:800;
    }
  }

  // Container For All Pools
  .pools {
  }
}